@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="mb-4 text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="p-4 shadow-sm rounded bg-light">
            <h2 class="mb-3 text-center">Create a new account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Gender" class="form-label"></label>
                <select asp-for="Input.Gender" class="form-select">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Region" class="form-label"></label>
                <select asp-for="Input.Region" class="form-select">
                    <option value="">Select Region</option>
                    <option value="dolnośląskie">Dolnośląskie</option>
                    <option value="kujawsko-pomorskie">Kujawsko-Pomorskie</option>
                    <option value="lubelskie">Lubelskie</option>
                    <option value="lubuskie">Lubuskie</option>
                    <option value="łódzkie">Łódzkie</option>
                    <option value="małopolskie">Małopolskie</option>
                    <option value="mazowieckie">Mazowieckie</option>
                    <option value="opolskie">Opolskie</option>
                    <option value="podkarpackie">Podkarpackie</option>
                    <option value="podlaskie">Podlaskie</option>
                    <option value="pomorskie">Pomorskie</option>
                    <option value="śląskie">Śląskie</option>
                    <option value="świętokrzyskie">Świętokrzyskie</option>
                    <option value="warmińsko-mazurskie">Warmińsko-Mazurskie</option>
                    <option value="wielkopolskie">Wielkopolskie</option>
                    <option value="zachodniopomorskie">Zachodniopomorskie</option>
                </select>
                <span asp-validation-for="Input.Region" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.Password" class="form-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Input.Role" class="form-label"></label>
                <select asp-for="Input.Role" class="form-select">
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                    <option value="Employee">Employee</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>
    <div class="col-md-8 mt-5">
        <section class="p-4 shadow-sm rounded bg-light">
            <h3 class="text-center mb-3">Use another service to register</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div class="text-center">
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="text-center">
                        <div>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-outline-primary me-2 mb-2" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <i class="fas fa-sign-in-alt"></i> @provider.DisplayName
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        background-color: #f7f9fc;
    }

    h1, h2, h3 {
        color: #343a40;
    }

    .form-floating input:focus + label, .form-floating input:not(:placeholder-shown) + label {
        top: -1.5em;
        left: 0.75em;
        font-size: 0.75em;
        opacity: 0.75;
    }

    .btn-primary, .btn-outline-primary {
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }

        .btn-outline-primary:hover {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }

    .p-4 {
        padding: 1.5rem !important;
    }

    .shadow-sm {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    }

    .rounded {
        border-radius: 0.25rem !important;
    }

    .bg-light {
        background-color: #fff !important;
    }
</style>
